<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
  
  <body>
    <header>
        <%- include('./partials/header'); %>
      </header>

    <h1>Home page</h1>
    <!-- <% let welcomeMessage = 'Welcome to the page' %> -->

    <h2> <%= welcomeMessage %> </h2>

    <script src="" async defer></script>

    
    <footer>
        <%- include('./partials/footer'); %>
    </footer>
  </body>
</html>
