<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <nav>
      <a href="/">Home </a> | <a href="/posts">Posts page</a> |
      <a href="/contactus">Contact us</a>
    </nav>

    <% let t = "Posts" %>
    <h1><%= t %></h1>

    <div class="posts list">
      <h2>All posts</h2>
        <%if (posts.length  > 0) { %>
            <% posts.forEach(post => { %>
                <h3 class="title"><%= post.title %></h3>
                <p class="body"><%= post.body %></p>
                <% }) %>
            <% } else { %>
                <p>You did not post anything... </p>
            <% } %>

    </div>

    <script src="" async defer></script>

    <footer class="footer">
      <p>© WAD 2021</p>
    </footer>
  </body>
</html>
